<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
        <title>{% block title %}ARDSNet Calculator{% endblock %}</title>
        <style>
        table caption {
            caption-side: top;
        }
        body {
            margin-top: 0;
            padding-top: 0;
        }
        html {
            overflow-y: scroll; 
        }
        pre {
            white-space: pre-wrap;
            word-break: keep-all;
        }
        </style>
    </head>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="/">ARDSNet Calculator</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item text-right">
                        <a class="nav-link" href="http://www.ardsnet.org/files/ventilator_protocol_2008-07.pdf">ARDSNet PDF Reference</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-right" href="https://github.com/mdhiggins/ardsnet-calculator">Github</a>
                    </li>
                </ul>
            </nav>
            <hr />
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
            <div class="container" id="alert">
            {% for category, message in messages %}
                <div class="alert alert-dismissible alert-{{ category }}" role="alert">
                        {{ message }}
                        <button type="button" class="close" data-dismiss="alert">
                            <span>&times;</span>
                        </button>
                </div>
                <br />
            {% endfor %}
            </div>
            {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
            <div class="content text-center">
                <small>Intended for use by healthcare professionals for informational purposes only. Consumers (non-medical professionals) use the tool at their own risk. While the tool is intended to be accurate I cannot warrant the accuracy of the information contained on this site. Recommendations based on the ARDSNet guidelines but should not replace clinical judgement. Do not follow recommendations blindly. Double check all vent settings, the provider is responsible for any vent changes made. This does not give medical advice, and is not a medical or diagnostic service.</small>
            </div>
            <br />
        </div>
        <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    </body>
</html>
