{% extends "layout.j2" %}
{% block content %}

<div class="container">
    {% if new %}
    <h4>Recommendations</h4>
    <div class="container">
        {% if new.vt > old.vt %}
        <div class="alert alert-warning" role="alert">
            Increase tidal volume to <strong>{{ new.vt | round(2) }}</strong> ml/kg from {{ old.vt | round(2) }} ml/kg{% if absvt %} ({{ absvt | round }} ml){% endif %}
        </div>
        {% elif new.vt < old.vt %}
        <div class="alert alert-warning" role="alert">
            Decrease tidal volume to <strong>{{ new.vt | round(2) }}</strong> ml/kg from {{ old.vt | round(2) }} ml/kg{% if absvt %} ({{ absvt | round }} ml){% endif %}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Maintain tidal volume of <strong>{{ new.vt | round(2) }}</strong> ml/kg{% if absvt %} ({{ absvt | round }} ml){% endif %}
        </div>
        {% endif %}
        {% if new.rr > old.rr %}
        <div class="alert alert-danger" role="alert">
            Increase respiratory rate to <strong>{{ new.rr }}</strong> from {{ old.rr }}
        </div>
        {% elif new.rr < old.rr %}
        <div class="alert alert-success" role="alert">
            Decrease respiratory rate to <strong>{{ new.rr }}</strong> from {{ old.rr }}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Maintain  respiratory rate of <strong>{{ new.rr }}</strong>
        </div>
        {% endif %}
        {% if new.fio2 > old.fio2 %}
        <div class="alert alert-danger" role="alert">
            Increase FIO2 to <strong>{{ new.fio2String }}</strong> from {{ old.fio2String }}
        </div>
        {% elif new.fio2 < old.fio2 %}
        <div class="alert alert-success" role="alert">
            Decrease FIO2 to <strong>{{ new.fio2String }}</strong> from {{ old.fio2String }}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Maintain FIO2 of <strong>{{ new.fio2String }}</strong>
        </div>
        {% endif %}
        {% if new.peep > old.peep %}
        <div class="alert alert-danger" role="alert">
            Increase PEEP to <strong>{{ new.peep }}</strong> from {{ old.peep }}
        </div>
        {% elif new.peep < old.peep %}
        <div class="alert alert-success" role="alert">
            Decrease PEEP to <strong>{{ new.peep }}</strong> from {{ old.peep }}
        </div>
        {% else %}
        <div class="alert alert-info" role="alert">
            Maintain PEEP of <strong>{{ new.peep }}</strong>
        </div>
        {% endif %}
        {% if verbose %}
        <div class="card h-100"><div class="card-body">
            <h6 class="card-title">Change Statement</h5>
            <pre>{{ verbose }}</pre>
        </div></div>
        <hr />
        {% endif %}
    </div>
    {% endif %}
    <form id="vent" method="POST" action="/">
        <h5 class="card-title">Patient Information</h5>
        <div class="row">
            <div class="col-md">
                <div class="card h-100"><div class="card-body">
                    <h5 class="card-title">Known Ideal Body Weight</h5>
                    <label for="pbw">IBW</label>
                    <input type="number" name="pbw" class="form-control" id="pbw" min="0" step="0.1" value="{{ pbw }}">
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="weightunit" id="kg" value="kg" {% if weightunit == "kg" %}checked{% endif %}>
                            <label class="form-check-label" for="kg">kg</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="weightunit" id="lbs" value="lbs" {% if weightunit == "lbs" %}checked{% endif %}>
                            <label class="form-check-label" for="lbs">lbs</label>
                        </div>
                    </div>
                    <small id="pbwHelp" class="form-text text-muted">
                        Do NOT use actual body weight
                    </small>
                </div></div>
            </div>
            <div class="d-md-none">&nbsp;</div>
            <div class="col-md">
                <div class="card"><div class="card-body">
                    <h5 class="card-title">Calculate Ideal Body Weight</h5>
                    <div class="form-group">
                        <div class="input-group">
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="male" value="male" {% if gender == "male" %}checked{% endif %}>
                                <label class="form-check-label" for="male">Male</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="gender" id="female" value="female" {% if gender == "female" %}checked{% endif %}>
                                <label class="form-check-label" for="female">Female</label>
                            </div>
                        </div>
                    </div>
                    <label for="height">Height</label>
                    <input type="number" name="height" class="form-control" id="height" min="0" step="0.1"  placeholder="" value="{{ height }}">
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="heightunit" id="in" value="in" {% if heightunit == "in" %}checked{% endif %}>
                            <label class="form-check-label" for="in">in</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="heightunit" id="cm" value="cm" {% if heightunit == "cm" %}checked{% endif %}>
                            <label class="form-check-label" for="cm">cm</label>
                        </div>
                    </div>
                    <small id="heightHelp" class="form-text text-muted">
                        Height will be used to calculate ideal body weight
                    </small>
                </div></div>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-md">
                <div class="card h-100"><div class="card-body">
                    <h5 class="card-title">Current Vent Settings</h5>
                    <label for="vt">Tidal Volume</label>
                    <input type="number" name="vt" class="form-control" id="vt" min="0" step="0.1" value="{{ vt }}" required>
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="vttype" id="ml" value="ml" {% if vttype == "ml" %}checked{% endif %}>
                            <label class="form-check-label" for="ml">ml</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="vttype" id="mlkg" value="mlkg" {% if vttype == "mlkg" %}checked{% endif %}>
                            <label class="form-check-label" for="mlkg">ml/kg</label>
                        </div>
                    </div>
                    <small id="vtHelp" class="form-text text-muted">
                        If plateau pressure < 30 and breath stacking or dys-synchrony occurs: may
                        increase VT in 1ml/kg increments to 7 or 8 ml/kg if Pplat remains < 30 cm H2O.
                    </small>
                    <label for="rr">Respiratory Rate</label>
                    <input type="number" name="rr" class="form-control" id="rr" min="0" max="60" step="1"  placeholder="" value="{{ rr }}" required>
                    <small id="rrHelp" class="form-text text-muted">
                        I:E ratio recommended that duration of inspiration be =< duration of expiration
                    </small>
                    <label for="fio2">FiO2</label>
                    <input type="number" name="fio2" class="form-control" id="fio2" min="0" max="100" step="1" placeholder="%" value="{{ fio2 }}" required>
                    <label for="peep">PEEP</label>
                    <input type="number" name="peep" class="form-control" id="peep" max="30" min="0" step="1" placeholder="" value="{{ peep }}" required>
                </div></div>
            </div>
            <div class="d-md-none">&nbsp;</div>
            <div class="col-md">
                <div class="card h-100"><div class="card-body">
                    <h5 class="card-title">Current Status</h5>
                    <label for="pao2">Oxygen</label>
                    <input type="number" name="o2" class="form-control" id="o2" min="0" step="1" placeholder="{{ lasto2 }}" value="{{ o2 }}">
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="o2type" id="pao2" value="pao2" {% if o2type == "pao2" %}checked{% endif %}>
                            <label class="form-check-label" for="pao2">PaO2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="o2type" id="spo2" value="spo2" {% if o2type == "spo2" %}checked{% endif %}>
                            <label class="form-check-label" for="spo2">SpO2</label>
                        </div>
                    </div>
                    <small id="pao2Help" class="form-text text-muted">
                        PaO2 must come from an ABG
                    </small>
                    <label for="pplat">Plateau Pressure</label>
                    <input type="number" name="pplat" class="form-control" id="pplat" min="0" step="1" max="60" placeholder="{{ lastpplat }}" value="{{ pplat }}">
                    <small id="pplatHelp" class="form-text text-muted">Check Pplat (0.5 second inspiratory pause), at least q 4h and after each change in PEEP or Vt</small>
                    <label for="ph">pH</label>
                    <input type="number" name="ph" class="form-control" id="ph" min="6.0" max="8.0" step="0.01" placeholder="{{ lastph }}" value="{{ ph }}">
                    <small id="pHHelp" class="form-text text-muted">
                        If pH remains < 7.15, Vt may be increased in 1 ml/kg steps until pH >
                        7.15 (plateau pressure target of 30 may be exceeded).
                        May give NaHCO3.
                    </small>
                    <br />
                    <div class="input-group">
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="strategy" id="highpeep" value="highpeep" {% if strategy == "highpeep" %}checked{% endif %}>
                            <label class="form-check-label" for="highpeep">Higher PEEP Lower FiO2</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="strategy" id="lowpeep" value="lowpeep" {% if strategy == "lowpeep" %}checked{% endif %}>
                            <label class="form-check-label" for="lowpeep">Lower PEEP Higher FiO2</label>
                        </div>
                    </div>
                </div></div>
            </div>
        </div>
        <hr />
        <div class="container text-center">
            <button type="submit" class="btn btn-primary float-center">Recommend New Vent Settings</button>
        </div>
    </form>
</div>
<br />

{% endblock %}